body {
  background: url(/images/bg-pattern-top.svg) no-repeat,
    url(/images/bg-pattern-bottom.svg) no-repeat;
  background-position: left top, right bottom;
  background-size: 75%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  display: block;
  margin: 50px auto;
  background: #fff;
  border-radius: 50%;
}

.card {
  display: flex;
  align-items: center;
  max-height: 100vh;
  justify-content: center;
  border: 1px solid black;

  margin: 100px 500px;
}
